<div class="d-flex mb-3">
  <%= link_to "创建目录", make_folder_path(@folder), class: "btn btn-primary" %>
</div>

<div class="card">
  <div class="card-header">sdf</div>
  <div class="card-body">
    sfsd
  </div>
</div>
