$body-bg: #efefef;
$body-color: #333;

@import '~bootstrap/scss/bootstrap';

body {
  font-size: 14px;
}

.flash-messages {
  position: fixed; left: calc(50% - 320px);
  z-index: 1000;
  width: 640px;
}

.layout-sessions {
  max-width: 320px;
  margin: 0 auto;
  padding: 160px 20px 0;
}

.folder-content {
  display: flex; flex-wrap: wrap;
  .item {
    width: 200px; height: 120px;
    margin: map-get($spacers, 2);
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    .icon { font-size: 48px; margin-bottom: map-get($spacers, 2); }
    .name { width: 90%; }
  }
}
